@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');

body {
  overflow-x: hidden;
}

.sally {
  position: absolute;
  width: 752px;
  height: 752px;
  left: 657px;
  top: 200px;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

.title {
  position: absolute;
  left: 12.39%;
  right: 49.56%;
  top: 42.61%;
  bottom: 45.91%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;
  /* or 112% */

  letter-spacing: 0.2px;

  /* /Dark Primary */

  color: #000000;
}

.desc {
  position: absolute;
  left: 12.91%;
  right: 56.72%;
  top: 56.65%;
  bottom: 37.08%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */

  letter-spacing: 0.2px;
}

.sallybg {
  position: relative;
  width: 1032px;
  height: 1182px;
  left: 800px;
  top: -150px;
}

.yellowCircle {
  position: absolute;
  width: 222px;
  height: 222px;
  left: 0px;
  top: 220px;
  border-radius: 150px;
  background: #ffdc5f;
}

.yellowCircle_2 {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 590px;
  top: 891px;
  border-radius: 150px;
  background: #ffdc5f;
}

.yellowCircle_3 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 700px;
  top: 170px;

  border-radius: 150px;
}

.redCircle {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 82px;
  top: 742px;
  border-radius: 150px;
  background: #fab8c3;
}

.howItWorks {
  position: absolute;
  left: 36.74%;
  right: 35.49%;
  top: 1200px;
  bottom: 79.17%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  /* identical to box height, or 82% */

  text-align: center;
  letter-spacing: 0.1px;
}

.bob {
  position: absolute;
  width: 486px;
  height: 486px;
  left: 145px;
  top: 1400px;
}
