@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,900;1,900&display=swap');

body {
  overflow-x: hidden;

  height: 100vh;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-25px);
  }
  100% {
    transform: translatey(0px);
  }
}

.title {
  position: absolute;
  left: 12.91%;
  right: 49.56%;
  top: 42.61%;
  bottom: 45.91%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 84px;
  /* or 112% */
  letter-spacing: 0.2px;
  /* /Dark Primary */
  color: #000000;
}

.button {
  position: absolute;
  width: 204px;
  height: 120px;
  left: 11%;
  top: 65%;
  cursor: pointer;
}

.desc {
  position: absolute;
  left: 12.91%;
  right: 56.72%;
  top: 62%;
  /* or 158% */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  color: rgb(10, 10, 10);
  letter-spacing: 0.2px;
}

.sallybg {
  position: relative;
  width: 2532px;
  height: 2532px;
  right: 80%;
  top: -20%;
}

.yellowCircle {
  position: absolute;
  width: 622px;
  height: 622px;
  left: 0px;
  top: 220px;
  border-radius: 100%;
  background: #ffdc5f;
  transform: translatey(10px);
  animation: float 5s ease-in-out infinite;
}

.yellowCircle_2 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 590px;
  top: 891px;
  border-radius: 100%;
  background: #ffdc5f;
  transform: translatey(5px);
  animation: float 3s ease-in-out infinite;
}

.yellowCircle_3 {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 700px;
  top: 170px;
  background: #df8ccd;

  transform: translatey(0px);
  animation: float 8s ease-in-out infinite;
  border-radius: 100%;
}

.redCircle {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 82px;
  top: 742px;
  border-radius: 150px;
  background: #b8d7fa;
  transform: translatey(2px);
  animation: float 3s ease-in-out infinite;
}

.redCircle_2 {
  position: absolute;
  width: 458px;
  height: 458px;
  left: 482px;
  top: 500px;
  border-radius: 100%;
  background: #fab8c3;
  transform: translatey(10px);
  animation: float 5s ease-in-out infinite;
}

.blueCircle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 800px;
  top: 302px;
  border-radius: 150px;
  background: #7dccfa;
  transform: translatey(10px);
  animation: float 7s ease-in-out infinite;
}

.howItWorks {
  position: absolute;
  left: 35.49%;
  right: 35.49%;
  top: 1000px;
  bottom: 79.17%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  /* identical to box height, or 82% */

  text-align: center;
  letter-spacing: 0.1px;
}


.bob {
  position: absolute;
  width: 30%;
  height: 70%;
  left: 60%;
  top: 30%;
}

/* .sally {
  position: absolute;
  left: 145px;
  top: 1200px;
  width: 752px;
  height: 752px;
  animation: float 6s ease-in-out infinite;
} */
/*
.sallyFlip {
  transform: scaleX(-1);
} */


/* .title_2 {
  position: absolute;
  width: 486px;
  height: 486px;
  left: 905px;
  top: 1250px;
} */
