@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,900;1,900&display=swap');

html, body {
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-25px);
  }
  100% {
    transform: translatey(0px);
  }
}

.title {
  position: relative;
  margin-top: 300px;
  margin-left: 150px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 94px;
  /* or 112% */
  letter-spacing: 0.2px;
  /* /Dark Primary */
  color: #000000;
}

.button {
  position: relative;
  width: 204px;
  height: 120px;
  left: 15%;
  top: 65%;
  cursor: pointer;
}

.desc {
  position: relative;
  left: 150px;
  /* or 158% */
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  color: rgb(10, 10, 10);
  letter-spacing: 0.2px;
}

.sallybg {
  position: relative;
  width: 2532px;
  height: 2532px;
  right: 80%;
  top: -20%;
}

.yellowCircle {
  position: absolute;
  width: 622px;
  height: 622px;
  left: 0px;
  top: 220px;
  border-radius: 100%;
  background: #ffdc5f;
  transform: translatey(10px);
  animation: float 5s ease-in-out infinite;
}

.yellowCircle_2 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 390px;
  top: 191px;
  border-radius: 100%;
  background: #7ff1af;
  transform: translatey(5px);
  animation: float 3s ease-in-out infinite;
}

.yellowCircle_3 {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 700px;
  top: 120px;
  background: #df8ccd;

  transform: translatey(0px);
  animation: float 8s ease-in-out infinite;
  border-radius: 100%;
}

.redCircle {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 82px;
  top: 742px;
  border-radius: 150px;
  background: #b8d7fa;
  transform: translatey(2px);
  animation: float 3s ease-in-out infinite;
}

.redCircle_2 {
  position: absolute;
  width: 458px;
  height: 458px;
  left: 482px;
  top: 500px;
  border-radius: 100%;
  background: #fab8c3;
  transform: translatey(10px);
  animation: float 5s ease-in-out infinite;
}

.blueCircle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 800px;
  top: 302px;
  border-radius: 150px;
  background: #7dccfa;
  transform: translatey(10px);
  animation: float 7s ease-in-out infinite;
}

.blueCircle_4{
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 600px;
  top: 60px;
  z-index: -1;
  border-radius: 100%;
  background: #ac82f1;
  transform: translatey(100px);
  animation: float 7s ease-in-out infinite;
}

.howItWorks {
  position: absolute;
  left: 35.49%;
  right: 35.49%;
  top: 1000px;
  bottom: 79.17%;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  /* identical to box height, or 82% */

  text-align: center;
  letter-spacing: 0.1px;
}


.bob {
  position: absolute;
  width: 45%;
  height: 70%;
  left: 57%;
  top: 30%;
}

@media only screen and (max-width: 600px) {

  .bob {
    width: 85%;
    height: 15%;
    left: 7%;
    top: 2%;
  }

  .yellowCircle_2 {
    width: 150px;
    height: 150px;
    left: -40px;
  }

  .yellowCircle_3 {
    width: 220px;
    height: 220px;
    left: 40px;
  }

  .redCircle_2 {
    width: 300px;
    height: 300px;
    left: 75px;
  }

  .blueCircle {
    width: 70px;
    height: 70px;
    left: 80px;
  }

  .blueCircle_4 {
    width: 600px;
    height: 600px;
    left: 95px;
  }

  .title {
    font-size: 47px;
    margin-bottom: 15px;
    margin-left: 15px;
    left: 0;
  }

  .desc {
    left: 15px;
  }

  .button {
  left: -4%;
  }
}
