.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
}

.image {
  display: block;
  width: 90%;
  display: block;
  width: 620px;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #253455;
  border-radius: 25px;
}

.container:hover .overlay {
  opacity: 0.85;
  border-radius: 25px;
}

.product__name {
  color: ghostwhite;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.learn__more {
  color: ghostwhite;
  font-size: 40px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
